body {
    overflow: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/back.jpg');
    background-size: 100%
}

header {
    background-color: #9fc3f9;
    opacity: 0.85;
    height:100px;
    width: 100%;
}


h1.h1 {
    background-size: 100%;
    font-size: 60pt;
    text-align: center;
    color: #27b8f7;
    text-decoration: none;

}


a.a1 {
    background-size: 100%;
    font-size: 60pt;
    text-align: center;
    color: DarkSlateBlue;
    text-shadow: black 0 0 57px;
    text-decoration: none
}


nav.n1{
    display: inline-grid;
    background-color: #c2e3f7;
    opacity: 0.7;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
}


ul.ul1{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}


li.li1 {
    font-weight: bold;
    font-size: 20pt;
    display: inline;
    text-decoration: none;
}


div.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


div.choice {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}


#map {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0;
    margin: 0;
    border: 5px solid #000080;;
}


form.choice {
    background: #3383ca;
    opacity: 0.85;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 3px solid #9fc3f9;
    -webkit-box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.5);
}


p.p1 {
    font-size: 15pt;
    color: white;
    font-weight: bold;
}


p.p2 {
    font-size: 15pt;
    margin-top: 10px;
    color: #24035c;
    font-weight: bold;
}


div.login_form {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}


input.input {
    flex: 1;
    padding: 1em;
    border: 10px #c2e3f7;
    width: 60%;
    box-sizing: border-box;
    color: white;
    box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.5);
    font-size: 1rem;
    font-family: Open Sans, Arial, sans-serif;
    text-shadow: 1px 1px 1px #24035c;
    background: #0055;
    background: -moz-linear-gradient(top, #3383ca 0%, #000080 100%);
    background: -webkit-linear-gradient(top, #3383ca 0%, #000080  100%);
    background: -o-linear-gradient(top, #3383ca 0%, #000080 100%);
    background: -ms-linear-gradient(top, #3383ca 0%, #000080 100%);
    background: linear-gradient(to bottom, #3383ca 0%, #000080  100%);
    cursor: auto;
}


input.submit {
    alignment: center;
    padding: 1em;
    margin: 1em;
    width: 50%;
    -webkit-box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.5);
    background: #0055;
    background: -moz-linear-gradient(top, #0055 0%, #004c8e 100%);
    background: -webkit-linear-gradient(top, #0055 0%, #004c8e 100%);
    background: -o-linear-gradient(top, #0055 0%, #004c8e 100%);
    background: -ms-linear-gradient(top, #0055 0%, #004c8e 100%);
    background: linear-gradient(to bottom, #0055 0%, #004c8e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf00', endColorstr='#fa9f17', GradientType=0 );
    border: 0;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    text-shadow: -1px -1px #24035c, 0 1px 0 white;
}


label.label {
    font-size: 15pt;
    font-weight: 700;
    color: #fff;
}


p.p3 {
    text-align: center;
    font-size: 15pt;
    color: white;
    font-weight: bold;
}