<!DOCTYPE html>

<html lang="ru">

<head>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=6c671181-c03d-4a64-9f0d-94dee1608f30" type="text/javascript"></script>
    <script src="../js/ShowObjects_.js" type="text/javascript"></script>
    <script src="../js/show_form.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/main_map.css">
    <title>ComfyTravel main map</title>
</head>

<body>

    <header>
        <h1 class="h1">
            <a class="a1">
                ComfyTravel
            </a>
        </h1>
    </header>

    <nav class="n1">
        <ul class="ul1">
            <li class="li1"><button class="btn1" onclick="showForm()"></button>Войти или зарегистрироваться</li>
        </ul>
    </nav>

    <div>
        @ViewData["Testing"]
    </div>


    <div class="main">
        <div class="choice">
            <form class="choice" action="../js/ShowObjects_.js">
                <p class="p1">Выберите, что показать на карте</p>
                <p class="p2"><input type="checkbox" name="park" value="Парки"> Парки</p>
                <p class="p2"><input type="checkbox" name="boulevard" value="Бульвары"> Бульвары</p>
                <p class="p2"><input type="checkbox" name="museum" value="Музеи"> Музеи</p>
                <p class="p2"><input type="checkbox" name="monument" value="Памятники"> Памятники</p>
                <p class="p2"><input type="checkbox" name="cinema" value="1417"> Кино</p>
                <p class="p2"><input type="checkbox" name="children" value="1417"> Можно с детьми</p>
                <input class="submit" type="submit" value="Показать на карте">
            </form>
        </div>
        <div class="login">
            <form class="choice" action="../js/ShowObjects_.js">
                <p class="p1">Введите логин и пароль</p>
                <input class="input" type="text" name="login">
                <input class="input" type="text" name="password">
                <input class="submit" type="submit" value="Войти / Зарегистрироваться">
            </form>
        </div>
        <div id="map"></div>
    </div>
</body>
</html>