<!DOCTYPE html>

<html lang="ru">

<head>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=6c671181-c03d-4a64-9f0d-94dee1608f30" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/main_map.css">
    <title>ComfyTravel main map</title>
</head>

<body>

    <header>
        <h1 class="h1">
            <a class="a1">
                ComfyTravel
            </a>
        </h1>
    </header>

    <nav class="n1">
        <ul class="ul1">
            <li class="li1"> Путешествия ждут! </li>
        </ul>
    </nav>  

    <div class="main">
        <div class="login_form">
            <form class="choice" method="post" action="Main/Index">
                <input class="submit" type="submit" value="Войти как гость">
            </form>
        </div>
    </div>

    <footer>
        <p class="p3">ComfyTravel - Copyright © 2021</p>
        <p class="p3">С вопросами обращаться на почту: comf_travel_kzn@gmail.com</p>
    </footer>

</body>
</html>